@model Reservation

@* @{
    var uniqueName = User.FindFirst("unique_name").Value;
    var email = @User.FindFirst("email").Value;
    var role = User.FindFirst("role").Value;
}

    <p>Email: @email</p>
    <p>Welcome, @uniqueName. You are logged in as: @role.</p> *@

@* this data is sent to Create *@

<section class="reservation-form">
<h1>Make a Reservation</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" placeholder="First Name" aria-label="First Name" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" placeholder="Last Name" aria-label="Last Name" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNo">Phone Number</label>
        <input asp-for="PhoneNo" placeholder="000-0000000" aria-label="Phone Number" class="form-control" />
        <span asp-validation-for="PhoneNo" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <label asp-for="ReservationStart">Chosen Time for Reservation</label>
        <input asp-for="ReservationStart" placeholder="Reservation Time" aria-label="Chosen time for reservation" class="form-control" type="datetime-local" />
        <span asp-validation-for="ReservationStart" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NoOfPeople">Number of People</label>
        <select asp-for="NoOfPeople" class="form-select" aria-label="Number of people for reservation">
            <option value="" disabled selected>Select number of people</option>
            <option value="1" aria-label="One">1</option>
            <option value="2" aria-label="Two">2</option>
            <option value="3" aria-label="Three">3</option>
            <option value="4" aria-label="Four">4</option>
            <option value="5" aria-label="Five">5</option>
            <option value="6" aria-label="Six">6</option>
            <option value="7" aria-label="Seven">7</option>
            <option value="8" aria-label="Eight">8</option>
        </select>
    </div>
    <button type="submit" class="btn btn-outline-primary">Make Reservation</button>
    <a asp-action="Index" class="btn btn-outline-dark">Cancel</a>
</form>
</section>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}